{% extends 'base.html.twig' %}

{# Navbar color #}
{% set navbarColor = 'light' %}

{# Page content #}
{% block page_content %}
    <body>

    <header class="bgc-medium" id="header">
        <div class="container-xxl container-xxl--nav">
            <div class="row justify-content-lg-center navbar">
                <a href="/" class="col-auto" id="logo">
                    <img src="{{ asset('build/images/logo.svg') }}" alt="Leanatic-Logo" width="135" height="18">
                </a>
            </div>
        </div>
    </header>


    <main id="site">

        <div class="module module--bg bgc-medium facts-list facts-list--border">

            <section class="container-xxl text-center">
                <div class="row facts-list__row">
                    <div class="col-sm-12 col-lg-3">
                        <div class="facts-list__item">
                            <div>
                                <h6>TITLE 1</h6>
                                <h4>999</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3">
                        <div class="facts-list__item">
                            <div>
                                <h6>TITLE 1</h6>
                                <h4>999</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3">
                        <div class="facts-list__item">
                            <div>
                                <h6>TITLE 1</h6>
                                <h4>999</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3">
                        <div class="facts-list__item">
                            <div>
                                <h6>TITLE 1</h6>
                                <h4>999</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3">
                        <div class="facts-list__item">
                            <div>
                                <h6>TITLE 1</h6>
                                <h4>999</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3">
                        <div class="facts-list__item">
                            <div>
                                <h6>TITLE 1</h6>
                                <h4>999</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3">
                        <div class="facts-list__item">
                            <div>
                                <h6>TITLE 1</h6>
                                <h4>999</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3">
                        <div class="facts-list__item">
                            <div>
                                <h6>TITLE 1</h6>
                                <h4>999</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>

    </main>
    </body>
{% endblock %}
